<footer class="footer">
    <div class="container">

        <div class="row my-3">
            <div class="col-6">
                <div class="text-muted">
                    <i><span class="lang-en">Last updated: {{ "now" | date: "%b %Y" }}</span><span class="lang-zh">鏈€鍚庢洿鏂帮細{{ "now" | date: "%Y 骞?%m 鏈? }}</span></i>
                </div>
            </div>
            <div class="col-6">
                <div class="text-right text-muted">
                    <span class="lang-en">{{ site.data.display.footer_text }}</span><span class="lang-zh">{{ site.data.display.footer_text_zh | default: site.data.display.footer_text }}</span>
                </div>
            </div>
        </div>

        <hr> <div class="map-container">
            <input type="checkbox" id="visitorMapToggle" class="map-toggle-checkbox">
            
            <label for="visitorMapToggle" class="map-toggle-label">
                <span class="lang-en">Visitor Map</span><span class="lang-zh">璁垮鍦板浘</span>
            </label>
            
            <div class="map-content">
                <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=jmCv6ehyeHy7g1J0vvlsE0eY68TsF0YBusCOBLxaZTU&cl=ffffff&w=a"></script>
            </div>
        </div>

    </div>
</footer>