{% assign projects = include.projects %}
<div class="my-3 p-0 bg-white shadow-sm rounded-sm">
    <h6 class="border-bottom border-gray p-3 mb-0">
        {% if include.title %}{{ include.title }}{% else %}<i class="fas fa-star"></i> Selected Recent Projects{% endif %} 
        <a href="{{ 'projects' | relative_url }}">(<span class="lang-en">view all</span><span class="lang-zh">查看全部</span> <i class="fas fa-angle-double-right"></i>)</a>
    </h6>
    {% for item in projects limit:include.limit %}
        {% include widgets/project_item.html item=item %}    
    {% endfor %}
    <h6 class="d-block p-3 mt-0 text-right">
        <a href="{{ 'projects' | relative_url }}"><span class="lang-en">All projects</span><span class="lang-zh">全部项目</span> <i class="fas fa-angle-double-right"></i></a>
    </h6>
</div>

